@font-face {
    font-family: 'bpgninomkhedrulibookwebfont';
    src: url('../fonts/bpgnino/bpgninomkhedrulibookwebfont.eot');
    src: url('../fonts/bpgnino/bpgninomkhedrulibookwebfont.eot') format('embedded-opentype'),
         url('../fonts/bpgnino/bpgninomkhedrulibookwebfont.woff2') format('woff2'),
         url('../fonts/bpgnino/bpgninomkhedrulibookwebfont.woff') format('woff'),
         url('../fonts/bpgnino/bpgninomkhedrulibookwebfont.ttf') format('truetype'),
         url('../fonts/bpgnino/bpgninomkhedrulibookwebfont.svg#bpgninomkhedrulibookwebfont') format('svg');
}

@font-face {
    font-family: 'bpgglahowebcapswebfont';
    src: url('../fonts/bpgglaho/bpgglahowebcapswebfont.eot');
    src: url('../fonts/bpgglaho/bpgglahowebcapswebfont.eot') format('embedded-opentype'),
         url('../fonts/bpgglaho/bpgglahowebcapswebfont.woff2') format('woff2'),
         url('../fonts/bpgglaho/bpgglahowebcapswebfont.woff') format('woff'),
         url('../fonts/bpgglaho/bpgglahowebcapswebfont.ttf') format('truetype'),
         url('../fonts/bpgglaho/bpgglahowebcapswebfont.svg#bpgglahowebcapswebfont') format('svg');
}
