// fonts

$Main_font1 : 'bpgninomkhedrulibookwebfont';
$Main_font2 : 'bpgglahowebcapswebfont';

// colors

$Nav_color      : #000000;
$Nav_hover      : #B8EDF8;
$White          : #ffffff;
$Border_color   : #B2B2B2;
$Black          : #000000;
$Intro_color    : #666666;
$bg_color       : #F1F1F1;
$bg_color2      : #B8EDF8;
$bg_color3      : #313332;
$input_color    : #989898;
$hover_rgba     : rgba(184,237,248,0.8);