.project__box{
    width: 356px;
    height: 210px;
    border: 2px solid $Nav_hover;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 1s linear;
    &:hover .overlay{
        visibility: visible;
        transform: scale(1);
    }
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $hover_rgba;
    visibility: hidden;
    transform: scale(0);
    transition: all .3s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-family: $Main_font2;
        font-size: 18px;
        color: $White;
        margin-top: 15px;
    }
    img{
        width: 50px;
    }
}
